/* Simple CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: rgb(189, 189, 189);
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20%;
  background-color: #1f2937;
}

.nav__links {
  list-style: none;
  display: inline;
}

.nav__links li {
  display: inline-block;
  padding: 0 30px;
}

img {
  height: 300px;
}

.hero-section {
  padding: 5% 20%;
  display: flex;
  background-color: #1f2937;
}

.text-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-right: 80px;
}

.text-hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  color: #f9faf8;
}

.text-hero p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-btn {
  width: max-content;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: #3882f6;
  font-family: "Roboto", sans-serif;
  color: #e5e7eb;
}

:hover .hero-btn {
  cursor: pointer;
}

.icons-section {
  padding: 50px 20%;
}

.icons-section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 45px;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: space-around;
}

.icon {
  display: flex;
  flex-direction: column;
}

.icon-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  display: block;
  max-width: 140px;
}

.icon-img {
  display: block;
  height: 140px;
  width: 140px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.quote-section {
  height: 300px;
  background-color: #e5e7eb;
  padding: 5% 20%;
}

.quote-text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #1f2937;
}

figcaption {
  font-family: "Roboto", sans-serif;
  text-align: right;
  margin-top: 10px;
}

.cta-container {
  height: 280px;
  padding: 50px 20%;
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  height: 140px;
  border-radius: 10px;
}

.cta-header,
.cta-text {
  font-family: "Roboto", sans-serif;
  color: #e5e7eb;
}

.cta-btn {
  padding: 8px 20px;
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: transparent;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  height: 70px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
